/**
 *
 * Personalized stlyles made by Daniel Alexander Reyes Pineda.
 * source: many css websites.
 * porpose: because yes.
 *
*/

/*General styles for the web to look nice.*/
html {
    min-height: 100%;
}

body {
    background: linear-gradient(#b5e48c, #457b9d) fixed;
}

/*Header container style to give more highlight to the title of the section*/
.header-container {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-style: solid;
    border-color: red green blue yellow;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.navbar-brand {
    text-decoration-color: chartreuse;
    text-transform: uppercase;
    font-weight: bold;
}

.emphasized {
    font-style: italic;
    color: blueviolet;
}

/* Form's styles for its text box and input fields */

label {
    color: white;
    font-weight: bold;
}

.name-text-fields {

    margin: 1rem;
    padding: 2rem 2rem;


}

.name-number-fields {

    margin: 1rem;
    padding: 1.5rem 1.5rem;
}

.buttons-frm {

    margin: 1rem;
    padding: 2rem 2rem;
    align-items: end;

}

.name-first,
.name-last {
    display: inline-block;

    padding: 1rem 1rem;
    vertical-align: middle;

}


.salary,
.loan-amount,
.combox {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;

}

.salary {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-right: 50%;


}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    background-color: #3CBC8D;
    color: white;
}

input[type=text]:focus {
    background-color: lightblue;
}

form {
    border: 5px solid aqua;
    background-color: darkslategray;
    margin-bottom: 30px;
}